.idea
.DS_Store
.DS_STORE
.DS_Store?
*.log
skylight-ck.php
theme-local/pointsofarrival/images/logos/university-of-glasgow-logo.png
theme-local/pointsofarrival/images/logos/university-of-glasgow-logo.psd
theme-local/pointsofarrival/images/logos/university-of-glasgow.svg
theme-local/pointsofarrival/images/logos/unnamed.png
theme-local/pointsofarrival/images/logos/uoe-logo.psd
theme-local/pointsofarrival/images/video-stills/stills-banner.psd
theme-local/stcecilia/images/buttons/
*.sync-conflict-*
config/skylight.php
config/eerc.php
